{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint-config-egg",
  "rules": {
    "no-useless-constructor":"off",
    "no-bitwise":"off",
    "jsdoc/check-tag-names":"off",
    "jsdoc/require-param-description": "off"
  }
}
